html{
    scroll-behavior: smooth;

    padding: 0;
    margin: 0;

    background-color: #FAFAFA;
}

:root {
  --black-primary: #2B2B2B;
  --black-secondary: #7A7A7A;
  --background-color: #FAFAFA;
  --accent-color:  #E63946; 
  --black-deep: #121212;
}

body{
        padding: 0;
    margin: 0;
}